@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

.swiper-slide {
	height: 29rem !important;
	width: 50rem !important;
	opacity: 70%;
	transition: all 0.2s ease-in !important;
}

.swiper-slide-next div {
	height: 25rem !important;
	margin-top: 2rem;
}

.swiper-slide-prev div {
	height: 25rem !important;
	margin-top: 2rem;
}


.swiper-slide-active {
	height: 29rem !important;
	width: 50rem !important;
	opacity: 100%;
}

::selection {
	background: rgb(255, 212, 59);
}
